body {
    background-color: #222;
    color: #fff;
}

h1 {
    color: #fff;
}

form {
    margin-top: 20px;
}

textarea {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #444;
    color: #fff;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #555;
    color: #fff;
    border: none;
    cursor: pointer;
}

p {
    margin-top: 20px;
    font-size: 18px;
}

a {
    color: #fff;
}
